@use "../abstracts/" as *;

.site-footer {
  background-color: $footer-background-color;
  margin-top: calc(-875.150px + 402px);
  padding-top: calc(875.150px - 402px);

  @include mq(large){
    margin-top: calc(-464px + 199px);
    padding-top: calc(464px - 199px);
  }

  &__inner{
    @include responsive-spacing(padding-block-start, 56px, 72px, 95px);
    @include responsive-spacing(padding-block-end, 80px, 72px);
  }

  &__content{
    display: grid;
    justify-content: center;
    row-gap: 33px;

    @include mq(medium){
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__socials{
    display: flex;
    justify-content: space-between;
    @include mq(medium){
      width: 116px;
      align-items: center;
    }
  }


  a {
    transition: opacity 200ms ease-in;
    &:is(:hover, :focus) {
      opacity: .5;
    }
  }
}
