 @use "../abstracts" as *;

.site-header {
  @include responsive-spacing(margin-block-start, $site-header-margin-block-start...);

  &__inner {
    display: flex;
    align-items: $site-header-alignment;
    justify-content: $site-header-jusitifcation;
  }
}
