// global color tokens
$-clr-white: hsl(0 0% 100%);
$-clr-gray-100: hsl(30, 29%, 97%);//
$-clr-gray-200: hsl(30, 33%, 93%);//
$-clr-blue-300: hsl(218, 20%, 70%);
$-clr-blue-400: hsl(218, 20%, 60%);
$-clr-blue-500: hsl(218, 20%, 50%);
$-clr-blue-600: hsl(218, 20%, 40%);
$-clr-blue-700: hsl(218, 20%, 36%);//
$-clr-blue-800: hsl(219, 43%, 16%);//
$-clr-blue-900: hsl(219, 43%, 7.5%);
$-clr-black: hsl(0 0% 0%);

$-clr-violet-flare: hsl(264, 100%, 69%);
$-clr-purple-bloom: hsl(292, 76%, 54%);
$-clr-sunset-glow: hsl(31, 100%, 65%);

$default: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-gray-100,//$footer-link-color, $button-accent-color/hover, $button-primary-color/hover
    "200": $-clr-gray-200,
    "300": $-clr-blue-300,
    "400": $-clr-blue-400,
    "500": $-clr-blue-500,
    "600": $-clr-blue-600,
    "700": $-clr-blue-700,//$color-text-default => $body-text-color, $card-color-default
    "800": $-clr-blue-800,
    "900": $-clr-blue-900,//$heading-color-default => $heading-1/2/3-color, $site-header-color,$navigation-color, $footer-text-color
    "1000": $-clr-black,
  ),
  "accent":(
    "1": $-clr-violet-flare,
    "2": $-clr-purple-bloom,
    "3": $-clr-sunset-glow,
  ),
);


// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-600: var(--neutral-600);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);
$color-neutral-1000: var(--neutral-1000);

$color-accent-1: var(--accent-1);
$color-accent-2: var(--accent-2);
$color-accent-3: var(--accent-3);


